:root {
  --board-width: 540px;
  --board-height: 540px;
}

body {
  background: #2D333B;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0px 20px;
}

.title {
  width: 90vw;
  font-family: verdana;
  text-align: center;
  font-size: max(7vw, 7vh);
  color: #e5d6c2;
  margin: 20px 0px;

  & span {
    display: block;
    font-size: min(1.8vw, 1.8vh);
    font-weight: normal;
    line-height: 0;
  }
}
